<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= place.title %></title>
</head>
<body>
    <h1><%= place.title %></h1>
    <h2><%= place.location %></h2>
    <p><a href="/places/<%= place._id %>/edit">Edit</a></p>
    <form action="/places/<%= place._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <p><a href="/places">All places</a></p>
</body>
</html>